# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# Prisma
prisma/dev.db
prisma/dev.db-journal
# Note: migrations folder is typically versioned, but specific .sql files inside
# can be ignored if desired, though not doing so by default here.

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts